.demo-header {
    width: 100%;
    background-color: #114B5F;
    background: linear-gradient(267.12deg,/* #678C99 0%,*/ #114B5F 25%, #0A2939 100%);
    display: flex;
    flex-direction: row;
}

.demo-header .demo-header-logo {
    margin: 10px;
}

.demo-header-links {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.demo-header-links a {
    color: #A8BDC4;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.demo-header-links a:hover,
.demo-header-links a:focus {
    color: #A8BDC470;
}

.demo-header-links li {
    list-style: none;
    margin: 10px 20px 0 30px;
}