.container-grid-album {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.container-grid-album .tile-album {
    width: 220px;
    height: 240px;
    padding: 5px;
    text-align: center;
    background-color: #CCC5B9;
    margin: 5px;
}

.tile-album .tile-title {
    margin-bottom: 5px;
}