.container-grid-album {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.container-grid-album .tile-album {
    width: 280px;
    height: 300px;
    text-align: center;
    background-color: #CCC5B9;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    /*box-shadow: 5px 6px 10px #ccc;*/
}

.tile-album .tile-title {
    margin-bottom: 10px;
    padding-top: 10px;
    height: 15%;
    width: 100%;
    background-color: #827e76;
    font-weight: 550;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.tile-album .tile-album-art {
    align-self: center;
    box-shadow: 5px 6px 10px #000;
}

.tile-album .tile-footer {
    height: 15%;
    margin: 2px;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
}